<div class="container-main">
    <div class="container-cards">
        <div class="header-card">
            <img alt="profile" class="profile-image" src="https://scontent-mad1-1.cdninstagram.com/v/t51.2885-19/s150x150/87635143_1346578465534788_686697178218889216_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com&_nc_ohc=ZXGIvrmDqG8AX-FAVgw&oh=74edb6a1404515a8acbfcc4b4df6e426&oe=5EC8DB88" />
            <p class="title-profile-card">Cabronazi</p>
            <p class="more-option-profile">...</p>
        </div>
        <div class="photo-card">
            <img alt="photo-card-img" class="photo-card-img" src="https://i.gyazo.com/b5a44ed41144014b9590d66f0ec93fe3.jpg" />            
        </div>
    </div>
</div>