:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }



  .toolbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  #logo {
    width: 100px;
    height: auto;
    padding-top: 10px;
  }

  #buscador{
    background: rgba(var(--b3f, 250, 250, 250), 1);
    border: solid 1px #dbdbdb;
    padding: 6px;
    font-size: 10px;
    width: 140px;
  }

  #buscador:focus {
    color: black;
  }

  #lupa-buscador{
      background-image: url('https://i.gyazo.com/9995f5133027eb16f67c1554ca689e86.png');
      width: 50px;
      height: 50px;
  }


  .border-separator {
    border: 0;
    height: 1px;
    background: #dbdbdb;
    border-style: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
  }